<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Handlebars Template</title>
  </head>
  <body>
    <h1>Handlebars!</h1>
    {{#each issues as |issue|}}
      <div>
        <img src="/images/{{issue.id}}-gh.png" alt="{{issue.title}}" width="50" heigh="50" />
        <a href="/issues/{{issue.id}}">{{issue.title}}</a>
        <span>Assigned to: {{issue.status}}</span>
      </div>
    {{/each}}
  </body>
</html>
